:root {
  --melon: #e5a9a9;
  --magenta: #963d5a;
  --sage: #8fa998;
  --cambridge-blue: #9cbfa7;
  --gunmetal: #19323c;
  --charcoal: #274e5e;

  --misty-rose: #f3d6d6;
  --puce: #d598ad;
  --ash-gray: #c9d5cd;
  --honeydew: #d0e0d5;
  --carolina-blue: #70abc3;
}

* {
  box-sizing: border-box;
}

root {
  display: flex;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
  border: 3px solid var(--sage);
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab-items {
  display: flex;
  padding: 5px;
}

h2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px; 
}

.main-container {
  display: flex;
  padding: 10px;
  background-color: var(--honeydew);
  margin-bottom: 30px;
}

.about-container {
  display: flex;
  padding: 40px;
  font-size: 18px;
}

.self-image {
  float: left;
  margin-right: 1em;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap;
  border: 3px solid var(--sage);
  margin-bottom: 30px;
  padding: 40px;
}

.gallery-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  background-color: var(--cambridge-blue);
}
.gallery-links {
  display: flex;
}

.horiseon-image {
  display: flex;
  width: 100%;
  height: auto;
}

.gallery-images {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.footer-items {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--sage);
}

a:link {
  display: flex;
  /* justify-content: center; */
  /* padding-right: 20px;
  padding-top: 10px; */
  margin: 15px; 
  font-size: 20px;
  color: var(--gunmetal);
  text-decoration: none;
}

a:visited {
  color: var(--gunmetal);
}

a:hover {
  color: var(--ash-gray);
}

/* .footer-links {
  display: flex;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 20px;
} */

/* _________________________________________________________________________ */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
