:root {
  --magenta: #963d5a;
  --sage: #8fa998;
  --cambridge-blue: #9cbfa7;
  --gunmetal: #19323c;
  --puce: #d598ad;
  --ash-gray: #c9d5cd;
  --honeydew: #d0e0d5;

  --font-size: 20px;
}

* {
  box-sizing: border-box;
}

root {
  display: flex;
  line-height: 1.6;
  word-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
}

.header {
  color: var(--magenta);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
  border: 3px solid var(--sage);
}

.tabs {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .tabs {
    display: flex;
    flex-direction: column;
    padding: -10px;
  }
}

.tab-items {
  display: flex;
  margin: 5px;
}

.tabs .active {
  color: var(--puce)
}

h2 {
  margin-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-page-header {
  color: var(--puce);
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.main-container {
  display: flex;
  padding: 10px;
  background-color: var(--honeydew);
  margin-bottom: 30px;
}

.about-container {
  display: flex;
  padding: 40px;
  font-size: var(--font-size);
}

.self-image {
  float: left;
  margin-right: 1em;
  margin-top: 10px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 20px;
  margin-left: 70px;
}

label {
  color: var(--gunmetal);
  margin-bottom: 10px;
}

input {
  border: none;
}

textarea {
  border: none;
}

button {
  border: none;
  background-color: var(--sage);
  color: #fff;
}

button:hover {
  background-color: var(--cambridge-blue)
}

.form-errors {
  margin-top: 10px;
  color: var(--magenta)
}

.gallery-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  background-color: var(--cambridge-blue);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 40px;
}

.gallery-links {
  display: flex;
}

.horiseon-image {
  display: flex;
  width: 100%;
  height: auto;
}

.gallery-images {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
}

.resume-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: var(--font-size);
}

.download-link:hover {
  color: var(--sage);
}

.footer-items {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--sage);
}

a:link {
  display: flex;
  margin: 15px;
  font-size: var(--font-size);
  color: var(--gunmetal);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: var(--gunmetal);
}

a:hover {
  color: var(--ash-gray);
}

p {
  color: var(--gunmetal)
}